@font-face {
  font-family: "Europe"; 
  src: url("//db.onlinewebfonts.com/t/752d4e027a4d1b80c78ef8fb4f3aa2a6.eot"); 
  src: url("//db.onlinewebfonts.com/t/752d4e027a4d1b80c78ef8fb4f3aa2a6.eot?#iefix") format("embedded-opentype"), 
      url("//db.onlinewebfonts.com/t/752d4e027a4d1b80c78ef8fb4f3aa2a6.woff2") format("woff2"), 
      url("//db.onlinewebfonts.com/t/752d4e027a4d1b80c78ef8fb4f3aa2a6.woff") format("woff"), 
      url("//db.onlinewebfonts.com/t/752d4e027a4d1b80c78ef8fb4f3aa2a6.ttf") format("truetype"), 
      url("//db.onlinewebfonts.com/t/752d4e027a4d1b80c78ef8fb4f3aa2a6.svg#Europe") format("svg"); 
    }
/* @import url(https://allfont.net/allfont.css?fonts=europe-normal); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Europe", Arial;
  background-image: url(../public//site_bg.png);
  background-repeat: no-repeat round;
  background-position: center;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
